In [2]:
import pandas as pd
import numpy as np

pd.set_option('display.max_columns', None)

In [112]:
df = pd.read_csv("SpeedDatingData.csv", encoding="ISO-8859-1")

In [209]:
def get_imputed_table(df, seed=0):

    rng = np.random.default_rng(seed=seed)

    df['scored_decision'] = df['like'] + df['dec']*0.5
    df['stdzed_scored_decision'] = df.groupby('iid')['scored_decision'].transform(lambda x: ((x - x.mean()) / x.std()).fillna(0))

    large_pivot = df[['iid', 'pid', 'stdzed_scored_decision']].pivot(index='iid', columns='pid', values='stdzed_scored_decision').iloc[:, 1:]
    randomly_generated = pd.DataFrame(rng.normal(0,1, size=large_pivot.shape), large_pivot.index, large_pivot.columns)
    imputed_score = large_pivot.fillna(randomly_generated)

    return imputed_score

In [210]:
imputed_table = get_imputed_table(df)

In [176]:
gender_0 = df[df['gender']==0]['iid'].unique()
gender_1 = df[df['gender']==1]['iid'].unique()

In [177]:
preferences_0 = imputed_table.loc[gender_0, gender_1]
preferences_1 = imputed_table.loc[gender_1, gender_0]

In [212]:
preference_matrix = pd.DataFrame(np.tril(imputed_table.to_numpy()) + np.tril(imputed_table.to_numpy().T))

In [216]:
RHO = -0.5
np.fill_diagonal(preference_matrix.values, RHO)

In [278]:
def get_heuristic_pairs(ld_preference_matrix, rho=RHO):
    used = set()
    total_value = {}
    for i in ld_preference_matrix:
        if i not in used:
            ordered_column = ld_preference_matrix.iloc[:, i].sort_values(ascending=False)
            avail = ordered_column[(ordered_column >= rho) & ~(ordered_column.index.isin(used))]            
            used.add(avail.index[0])
            used.add(i)
            total_value[(i, avail.index[0])] = avail.iloc[0]

    return used, total_value

In [279]:
used,total_value = get_heuristic_pairs(preference_matrix)

In [289]:
total_value.values()

dict_values([4.626397786381151, 4.00418418788827, 3.8034066488664795, 4.076051862280507, 4.432307254016068, 4.118383168787993, 4.14406984192828, 4.760705842841834, 4.298032908817408, 4.991396488099523, 4.917953502425624, 3.4772216835053915, 5.011228406724456, 4.766365464258271, 4.56019759808465, 3.70409620913496, 3.770958344461807, 4.590675553106294, 5.177716283968772, 4.24840337020105, 3.8345642360676067, 3.668693462905319, 4.145112982855286, 4.494822045486998, 4.144166032956564, 4.250037748351817, 4.924576645385508, 3.8739243269304486, 3.922726317020719, 4.073776219233168, 4.423228525653205, 3.596389661120061, 5.385768919377853, 4.539409604847145, 5.152546481311649, 4.7198188712246685, 5.234780100482425, 4.017762934430214, 4.948525460719459, 5.20255205946747, 4.833265718972056, 3.905436779039877, 4.082509196505471, 4.92774224834112, 4.115315077705365, 4.419975520475395, 3.639702298211243, 4.3542795818071305, 4.491456210303221, 4.798000060108688, 4.741570613280686, 5.2553825706913635, 3.4985985774140658, 5.542520733755538, 4.561952588254898, 4.546617851757019, 4.146079693136631, 4.455817301136599, 4.375243966603243, 4.6689081698033075, 4.4032898250853965, 3.8723720876451546, 3.698258573390646, 4.387323155951395, 4.725268163252656, 5.123193278543569, 3.757377592118631, 4.4284632457731075, 3.8707013232281104, 4.166972906003227, 3.40606048608775, 4.073576744744529, 5.059305868730707, 4.084529976094984, 3.497347015765495, 3.3141675408110487, 3.9933879497661464, 4.348372378238773, 3.8106656469583537, 3.9467113351970307, 5.780064919441876, 4.185724698202312, 4.042172939503781, 4.744995122307092, 3.966953275332942, 2.927803396352888, 5.023360787714044, 4.127210246484344, 4.305238062927403, 4.0432652029104945, 3.713771387920033, 4.706767394654696, 5.267581555540726, 3.830708015746004, 4.128395566451867, 3.627658763202749, 3.7353270000475938, 3.725705750723569, 3.8547899489611295, 4.8695557965457645, 3.3023348267617476, 3.000644188837313, 4.452346960947552, 3.806700667174331, 4.80569761228309, 5.530589071155196, 4.128208513476089, 4.49738305894005, 4.075940170207341, 4.166443959681982, 3.620866431937823, 3.167376282307462, 3.905516348856669, 3.8575438205194477, 3.2574838097148913, 4.461257389006339, 3.770823187170462, 4.059750066550672, 4.382256913416234, 3.9411610223067104, 4.691702138596966, 4.2276512387314416, 3.7691744048832367, 3.806995936945871, 4.1936825717381385, 3.213966575811904, 4.140781215630219, 5.19667148425309, 4.041713034543308, 3.4716349477617365, 5.439125209827592, 4.046137828442312, 5.254393742960775, 3.9429736581651724, 3.424324548633627, 6.249331293976558, 3.961200954010406, 4.781175382417951, 4.111657966801068, 3.184848843052496, 4.659992093258142, 3.8295170909119225, 3.83758218617319, 3.3546798416083865, 3.8526096716298017, 3.9789281076390415, 4.18083736218772, 4.451552340373218, 4.46214881062404, 3.007205800546893, 4.0605290964449035, 4.0458015163892895, 3.299714425250585, 3.02803294823049, 3.7568387769496514, 4.3026439917119585, 3.3829637327815236, 3.7496365758280996, 3.634280389190863, 3.8939209965188866, 4.594150600362402, 3.8753554096839675, 4.4272794371622215, 3.5579035430951804, 5.648812651627917, 4.249816414602195, 3.637707482462814, 4.277892342409363, 3.726983025076355, 4.129265646567004, 2.7789872617214906, 4.069268499207595, 3.619094102114219, 3.041709533539665, 3.5899835890309717, 3.3994828100684993, 4.037909835532302, 4.46944231349575, 3.96340290642872, 3.057208734371369, 4.047325512234517, 3.3837078720186935, 3.8977635732501907, 3.017905350883776, 4.209114598289627, 3.841425798881481, 3.3425335406887093, 3.808346831358457, 4.535275637554335, 3.5472505516242325, 3.5322066101444993, 4.301835095294962, 3.7494911273563813, 3.6332091458555626, 3.2745032873291593, 3.1178713028894096, 3.4818667748325076, 3.932059952719737, 3.616586570361772, 3.5590941463435684, 2.7855363752703868, 3.8346544604618344, 3.6707577741785284, 2.630193407650575, 2.7525847023188343, 4.032923010475124, 3.0521485757300133, 2.6897455327794515, 4.077109927728073, 4.367186858447706, 3.8048870368358543, 2.4706449956746104, 3.4913190591131795, 2.9977568465524334, 3.6148009895736353, 3.036836122935822, 2.7388234019138276, 3.6513524525056, 3.881306217196655, 3.7333163349222875, 3.85202999859615, 2.61015744446354, 4.11250478065345, 3.9732697546969313, 3.7850242330158865, 3.7883400876112763, 2.931361727801015, 3.6243537122756972, 3.6947341567691865, 3.688950100380212, 3.2319868446113347, 3.9692552155221783, 2.9647355863734326, 3.952664065893728, 3.1740562679464595, 3.3034471343249336, 3.4168172613456296, 3.3443333842126464, 3.4552228907616245, 2.9174154389918012, 2.4600456506051227, 2.846396740190295, 4.799554972691565, 3.692042962923244, 3.1034502468956457, 4.050433605072787, 3.729802286853611, 4.469004198493854, 3.003753331547194, 3.40177820784065, 4.076199258104417, 3.367027147872829, 5.121203685433098, 2.152419240580554, 3.15069549540798, 3.744503307021695, 2.4845574731388234, 3.281155163883054, 2.806955958021665, 2.93156052021127, 3.162781720776127, 1.6612345116320733, 2.706229752703199, 3.2231771671916754, 2.0564045117917753, 2.015838329384196, 3.1615090895665285, 2.234851511217306, 1.6915358732354242, 1.1975279718660183, 3.2353786792760446, 2.9628966519814517, 3.058102638594822, 1.876452976749833, 0.07349348702829084, -0.5])

In [266]:
for i in range(551):
    print(i, i in np.concatenate(list(total_value.keys())))

0 True
1 True
2 True
3 True
4 True
5 True
6 True
7 True
8 True
9 True
10 True
11 True
12 True
13 True
14 True
15 True
16 True
17 True
18 True
19 True
20 True
21 True
22 True
23 True
24 True
25 True
26 True
27 True
28 True
29 True
30 True
31 True
32 True
33 True
34 True
35 True
36 True
37 True
38 True
39 True
40 True
41 True
42 True
43 True
44 True
45 True
46 True
47 True
48 True
49 True
50 True
51 True
52 True
53 True
54 True
55 True
56 True
57 True
58 True
59 True
60 True
61 True
62 True
63 True
64 True
65 True
66 True
67 True
68 True
69 True
70 True
71 True
72 True
73 True
74 True
75 True
76 True
77 True
78 True
79 True
80 True
81 True
82 True
83 True
84 True
85 True
86 True
87 True
88 True
89 True
90 True
91 True
92 True
93 True
94 True
95 True
96 True
97 True
98 True
99 True
100 True
101 True
102 True
103 True
104 True
105 True
106 True
107 True
108 True
109 True
110 True
111 True
112 True
113 True
114 True
115 True
116 True
117 True
118 True
119 True
120 True
121 True
122 True
123 True
124 True
125 True
126 True
127 True
128 True
129 True
130 True
131 True
132 True
133 True
134 True
135 True
136 True
137 True
138 True
139 True
140 True
141 True
142 True
143 True
144 True
145 True
146 True
147 True
148 True
149 True
150 True
151 True
152 True
153 True
154 True
155 True
156 True
157 True
158 True
159 True
160 True
161 True
162 True
163 True
164 True
165 True
166 True
167 True
168 True
169 True
170 True
171 True
172 True
173 True
174 True
175 True
176 True
177 True
178 True
179 True
180 True
181 True
182 True
183 True
184 True
185 True
186 True
187 True
188 True
189 True
190 True
191 True
192 True
193 True
194 True
195 True
196 True
197 True
198 True
199 True
200 True
201 True
202 True
203 True
204 True
205 True
206 True
207 True
208 True
209 True
210 True
211 True
212 True
213 True
214 True
215 True
216 True
217 True
218 True
219 True
220 True
221 True
222 True
223 True
224 True
225 True
226 True
227 True
228 True
229 True
230 True
231 True
232 True
233 True
234 True
235 True
236 True
237 True
238 True
239 True
240 True
241 True
242 True
243 True
244 True
245 True
246 True
247 True
248 True
249 True
250 True
251 True
252 True
253 True
254 True
255 True
256 True
257 True
258 True
259 True
260 True
261 True
262 True
263 True
264 True
265 True
266 True
267 True
268 True
269 True
270 True
271 True
272 True
273 True
274 True
275 True
276 True
277 True
278 True
279 True
280 True
281 True
282 True
283 True
284 True
285 True
286 True
287 True
288 True
289 True
290 True
291 True
292 True
293 True
294 True
295 True
296 True
297 True
298 True
299 True
300 True
301 True
302 True
303 True
304 True
305 True
306 True
307 True
308 True
309 True
310 True
311 True
312 True
313 True
314 True
315 True
316 True
317 True
318 True
319 True
320 True
321 True
322 True
323 True
324 True
325 True
326 True
327 True
328 True
329 True
330 True
331 True
332 True
333 True
334 True
335 True
336 True
337 True
338 True
339 True
340 True
341 True
342 True
343 True
344 True
345 True
346 True
347 True
348 True
349 True
350 True
351 True
352 True
353 True
354 True
355 True
356 True
357 True
358 True
359 True
360 True
361 True
362 True
363 True
364 True
365 True
366 True
367 True
368 True
369 True
370 True
371 True
372 True
373 True
374 True
375 True
376 True
377 True
378 True
379 True
380 True
381 True
382 True
383 True
384 True
385 True
386 True
387 True
388 True
389 True
390 True
391 True
392 True
393 True
394 True
395 True
396 True
397 True
398 True
399 True
400 True
401 True
402 True
403 True
404 True
405 True
406 True
407 True
408 True
409 True
410 True
411 True
412 True
413 True
414 True
415 True
416 True
417 True
418 True
419 True
420 True
421 True
422 True
423 True
424 True
425 True
426 True
427 True
428 True
429 True
430 True
431 True
432 True
433 True
434 True
435 True
436 True
437 True
438 True
439 True
440 True
441 True
442 True
443 True
444 True
445 True
446 True
447 True
448 True
449 True
450 True
451 True
452 True
453 True
454 True
455 True
456 True
457 True
458 True
459 True
460 True
461 True
462 True
463 True
464 True
465 True
466 True
467 True
468 True
469 True
470 True
471 True
472 True
473 True
474 True
475 True
476 True
477 True
478 True
479 True
480 True
481 True
482 True
483 True
484 True
485 True
486 True
487 True
488 True
489 True
490 True
491 True
492 True
493 True
494 True
495 True
496 True
497 True
498 True
499 True
500 True
501 True
502 True
503 True
504 True
505 True
506 True
507 True
508 True
509 True
510 True
511 True
512 True
513 True
514 True
515 True
516 True
517 True
518 True
519 True
520 True
521 True
522 True
523 True
524 True
525 True
526 True
527 True
528 True
529 True
530 True
531 True
532 True
533 True
534 True
535 True
536 True
537 True
538 True
539 False
540 True
541 True
542 True
543 True
544 True
545 True
546 True
547 True
548 True
549 True
550 True

In [200]:
preference_matrix[0].sort_values().iloc[0]

-4.503608697651545

In [73]:
optimal_pairs = {}
total_value = {}
for i in preference_table.columns:
    ordered_column = preference_table[i].nlargest(20)
    remaining = ordered_column[(ordered_column >-1) & (~ordered_column.index.isin(optimal_pairs.values()))]
    if len(remaining) > 0:
        optimal_pairs[i] = remaining.idxmax()
        total_value[(i, optimal_pairs[i])] = ordered_column[optimal_pairs[i]]
    else:
        optimal_pairs[i] = 0
        total_value[(i, optimal_pairs[i])] = -0.5

In [6]:
wave9 = df[df['wave']==9][['iid', 'gender', 'pid', 'stdzed_scored_decision']]

In [7]:
preferences_0 = wave9[wave9['gender']==0].pivot(index='iid', columns='pid', values='stdzed_scored_decision').fillna(0)
preferences_1 = wave9[wave9['gender']==1].pivot(index='iid', columns='pid', values='stdzed_scored_decision').fillna(0)
#preferences_0.to_csv('preferences_0.csv')
#preferences_1.to_csv('preferences_1.csv')

In [149]:
preferences_0

pid,214.0,215.0,216.0,217.0,218.0,219.0,220.0,221.0,222.0,223.0,224.0,225.0,226.0,227.0,228.0,229.0,230.0,231.0,232.0,233.0
iid,,,,,,,,,,,,,,,,,,,,
194,0.700783,1.605020,-1.559808,-0.203453,-0.203453,-0.203453,0.248665,1.605020,-1.559808,-0.655572,0.700783,0.248665,0.700783,0.700783,-0.655572,0.700783,-1.559808,0.700783,-1.559808,0.248665
195,1.596872,1.909984,-0.908025,-0.594913,-0.281801,0.970648,0.970648,-0.281801,-1.534250,0.344423,0.344423,0.657536,0.031311,-0.281801,-0.908025,0.031311,-1.534250,0.970648,-1.534250,0.031311
196,1.238009,1.238009,1.463102,2.138379,-0.787824,1.688194,-0.787824,-0.337639,-0.787824,-0.337639,-1.238009,-0.787824,-0.337639,-0.337639,-1.238009,-0.337639,-0.337639,0.112546,-0.337639,0.112546
197,-0.579409,-0.579409,-0.579409,1.146489,-0.579409,-0.579409,-0.579409,-0.579409,-0.579409,-0.086295,-0.086295,-0.579409,0.406819,-0.086295,-0.086295,-0.579409,-0.579409,2.625830,2.625830,-0.086295
198,-0.295561,1.182244,0.443342,-0.295561,-0.295561,-0.295561,-1.773366,-1.034464,-1.773366,-0.295561,-0.295561,0.443342,1.182244,1.182244,1.182244,1.182244,0.443342,0.443342,-1.773366,0.443342
199,0.385185,0.977777,-1.195061,0.187654,0.187654,1.372838,0.780246,0.977777,-1.195061,1.175308,-0.009877,0.977777,0.977777,0.385185,-0.009877,-1.195061,-1.590122,-1.195061,-1.590122,-0.404938
200,0.860309,0.860309,-1.755030,1.514144,-0.447361,0.860309,0.860309,-0.447361,-0.447361,0.860309,1.514144,0.860309,-0.447361,-0.447361,-0.447361,-1.101196,-1.755030,-0.447361,-0.447361,0.000000
201,0.707511,0.707511,0.173540,0.440526,-2.496313,-0.894401,-0.894401,0.173540,-1.962342,0.707511,-0.360430,0.173540,1.508467,0.173540,-0.360430,0.707511,1.508467,0.173540,-0.360430,0.173540
202,1.086515,1.086515,-0.585047,1.504405,-0.585047,0.250734,-1.420827,-0.585047,-1.420827,0.250734,-0.585047,0.250734,1.504405,0.250734,-1.420827,1.504405,-1.420827,0.250734,0.250734,-0.167156
203,-1.292680,0.460106,-2.169073,1.774696,0.460106,0.460106,0.460106,-0.416287,-0.416287,0.021910,-0.854483,0.898303,1.336499,0.021910,0.460106,0.898303,-1.292680,-0.854483,-0.854483,0.898303
204,0.025091,0.526910,0.526910,1.279639,-0.476728,1.028729,0.025091,-0.476728,-2.985824,-0.476728,-0.978547,1.028729,0.777820,0.526910,-1.480366,0.526910,0.025091,0.526910,-0.476728,0.526910
205,0.000000,1.252520,-1.670027,1.043767,0.000000,0.000000,0.626260,0.626260,1.670027,-0.835014,1.043767,0.417507,0.000000,-1.670027,0.000000,-0.417507,-1.252520,-1.670027,0.000000,0.835014
206,-2.758703,0.102174,0.919568,-0.306523,-0.715219,-0.715219,2.554354,0.102174,0.102174,0.102174,0.102174,0.919568,0.102174,0.102174,-0.306523,0.919568,-0.715219,0.102174,-0.715219,0.102174
207,-0.774216,0.464530,0.051614,0.464530,0.464530,1.496818,0.464530,0.051614,-2.012963,-0.774216,-1.600047,0.051614,1.909734,1.083903,-0.361301,0.877445,-0.774216,-0.361301,-1.187132,0.464530
208,-0.878616,1.413426,1.158755,-0.114602,-1.387959,0.904083,0.394741,-1.387959,-1.387959,-1.387959,1.413426,-0.369273,0.904083,0.904083,-0.369273,0.394741,0.904083,-0.623945,-0.878616,0.394741
209,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.707107,0.000000,-0.707107,0.000000,0.000000,0.000000
210,0.862271,0.491402,-1.548380,-0.064902,-1.177510,0.862271,1.047706,-0.806641,-1.177510,0.676837,0.676837,0.862271,1.604010,-0.064902,-1.177510,1.233141,0.491402,-1.177510,-0.435772,-1.177510
211,0.370277,-0.769037,-0.199380,-1.908351,-1.908351,1.224762,-0.199380,-0.199380,-0.199380,-0.199380,-0.769037,0.370277,1.794419,1.224762,0.370277,0.370277,1.224762,0.370277,0.370277,-1.338694
212,-0.657129,0.657129,-0.657129,1.533300,-1.533300,0.657129,-1.533300,0.657129,-0.657129,-0.657129,-0.219043,-0.219043,0.657129,0.657129,-0.219043,1.533300,-1.533300,1.533300,-0.657129,0.657129
213,1.141332,0.169986,-0.801361,1.627005,-1.772707,0.169986,-0.801361,0.169986,-1.772707,0.169986,0.169986,0.169986,1.627005,1.627005,-0.801361,0.169986,-0.801361,0.169986,0.169986,-0.801361

In [8]:
preference_table = preferences_0 + preferences_1.T

In [77]:
sum(total_value.values())

37.882432253466256

In [78]:
total_value

{(214.0, 210): 2.5997143699910414,
 (215.0, 195): 3.371111556466804,
 (216.0, 204): 1.9693407147629431,
 (217.0, 212): 2.795351099952753,
 (218.0, 207): 1.5985102915396,
 (219.0, 196): 2.416330437474175,
 (220.0, 206): 3.320029642079919,
 (221.0, 199): 1.9248394909857827,
 (222.0, 205): 1.2572050787734272,
 (223.0, 200): 1.4821477408251018,
 (224.0, 208): 1.545301953169824,
 (225.0, 203): 1.561518753225648,
 (226.0, 211): 2.1942004201709273,
 (227.0, 213): 2.1229796933179386,
 (228.0, 209): 1.1747524262592166,
 (229.0, 202): 1.0722500762121299,
 (230.0, 201): 1.9609008834774704,
 (231.0, 197): 4.0935941535953475,
 (232.0, 0): -0.5,
 (233.0, 198): -0.07764652881379225}

In [65]:
preference_table

pid,214.0,215.0,216.0,217.0,218.0,219.0,220.0,221.0,222.0,223.0,224.0,225.0,226.0,227.0,228.0,229.0,230.0,231.0,232.0,233.0
iid,,,,,,,,,,,,,,,,,,,,
194,-1.068539,-0.153286,-3.900802,-0.624137,-1.337434,-1.555706,-2.456722,1.386467,-2.701140,-0.724665,1.162350,-1.063656,-0.818385,0.141493,-1.310275,0.876847,-3.659564,-0.583510,-2.571012,-0.793311
195,1.102737,3.371112,-0.884379,-0.005956,0.852179,1.698784,1.327963,0.082454,-2.675581,-0.415602,0.805990,0.756312,-0.208558,0.214174,-0.440380,1.727921,-1.081816,2.438411,-1.058389,-1.010665
196,0.425077,-0.024999,0.067964,2.390790,-2.569793,2.416330,-0.430509,-1.138999,-0.714973,-2.824994,-2.095204,-1.535706,-0.577508,-1.319036,-0.770364,-1.378013,0.578829,-0.560179,-1.943668,-0.929430
197,-0.117153,0.386421,-1.974546,1.735446,-2.361378,-0.683428,-0.222093,-0.215154,0.464789,-0.846320,1.364342,0.083807,1.766075,0.831786,-0.740999,-1.619782,-0.591009,4.093594,4.291342,-1.128271
198,-2.702477,-0.080764,0.466988,-2.062432,-1.429541,-2.479969,-2.436952,-3.292843,-2.914698,-2.091984,-1.152756,-0.868979,-0.336925,-0.221259,0.901657,0.141870,0.895775,-1.452520,-3.974221,-0.077647
199,0.209847,0.953012,-1.171414,1.449705,0.349651,1.268819,-1.925140,1.924839,-0.150864,1.797146,-0.537381,0.229895,1.697383,2.147479,-1.412813,-1.627216,-1.137689,-0.338865,-1.709087,-0.404938
200,1.322564,1.826139,-1.731384,2.103101,0.686620,1.588445,1.217624,0.499702,0.111163,1.482148,1.646020,2.087964,-0.047579,0.892827,-2.598531,-1.101196,-2.462683,1.020403,1.218151,0.000000
201,0.532173,0.930395,1.143043,0.019842,-2.334316,-0.582343,-0.128726,0.537795,-3.589347,0.638418,0.101136,-0.574341,1.268599,0.036356,-0.266901,0.883574,1.960901,-0.499185,-0.776808,0.173540
202,2.186364,0.318804,0.384456,1.420269,-0.099055,-0.269363,-1.471872,0.362016,-1.347976,-0.509291,0.206210,-1.061587,0.624887,-0.730663,-2.823764,1.072250,-3.056549,-0.421991,-0.463057,0.874820
203,-0.192830,-0.307605,-1.199570,2.363653,0.946098,1.188242,0.817422,-0.052032,0.142237,1.334680,-0.392917,1.561519,1.736281,-0.537381,1.675985,0.466148,-0.840246,0.001712,-0.973448,2.982255
204,0.487346,0.502145,1.969341,0.858955,0.009263,0.924710,-0.230134,-2.152300,-4.127155,-0.545821,-3.813883,1.691945,-0.741349,-0.454487,-2.883303,-0.513464,-1.610630,-0.145815,-0.595693,0.526910
205,0.462255,-0.505786,-2.592237,-0.050010,1.133980,-0.104019,1.391936,-0.175100,1.257205,0.477757,0.186572,-0.894814,-1.519169,-2.651424,-0.280587,-0.849662,-0.800087,-1.425400,1.070686,1.876990
206,-3.252838,0.325058,0.470286,-1.400300,-0.229228,-2.067472,3.320030,0.466429,-0.067811,0.724013,-0.425330,1.582783,0.501955,-0.879223,0.909356,1.703849,-0.726820,0.652586,-1.131597,0.102174
207,0.325633,1.925657,1.021117,2.399674,1.598510,3.057110,0.821845,1.581485,-1.454439,-0.152378,-1.468171,1.279269,3.268990,2.846197,0.106345,1.965836,0.142252,-1.034026,-0.711271,1.506506
208,-1.053954,2.379256,1.182401,1.147449,-0.901967,1.632219,0.343696,-0.440896,-0.343762,-1.457052,1.545302,0.858382,2.263339,2.244271,0.846605,2.091350,1.356517,0.843819,-0.997581,-0.647236
209,-0.494135,-0.272414,-0.922210,-1.093777,-1.781969,-1.352253,0.357315,-1.675572,-1.141332,-0.414559,0.461566,0.663216,-0.239869,-0.559291,1.174752,-1.040374,-2.342828,-0.672725,-0.416378,-0.520988
210,2.599714,1.457232,-0.578877,-1.158679,-1.015513,0.342174,1.813382,-1.025194,0.352360,1.989607,-0.510048,-0.450050,2.003791,-0.202087,-0.709865,2.929750,0.943836,-1.850235,-0.554737,0.906442
211,-0.442655,-0.793802,-0.175734,-2.665581,-2.394342,1.120743,0.566296,-0.417933,0.359144,-0.613939,0.681600,1.033493,2.194200,1.087578,0.837923,-0.670097,2.141230,0.309120,0.251312,-2.380670
212,-0.194873,1.127661,-0.633482,2.795351,-1.371303,2.217420,-1.380165,1.021384,0.872741,-0.035290,0.572214,-0.402486,2.016385,0.942050,0.248603,1.709364,-1.544901,1.166359,0.413557,0.657129
213,1.603587,0.392869,0.168142,1.542868,-1.286715,0.898122,-0.852406,0.534240,-2.428365,0.791824,0.631552,1.397641,1.387136,2.122980,0.414518,0.650158,0.579142,0.108829,1.240672,-0.801361

In [46]:
matched_partners = wave9[wave9['gender']==0].merge(wave9[wave9['gender']==1], left_on=['pid', 'iid'], right_on=['iid', 'pid'], suffixes=('_0', '_1'))

In [53]:
matched_partners.to_csv('matched_partners_wave_9.csv')

In [114]:
df['date_only'] = df['timestamp'].str.split(' ').str[0]

In [118]:
oneday = df[df['date_only']=='2019-11-14']

In [123]:
#bag of words 
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer()
total_cars_matrix = cv.fit_transform(oneday['cars_list'])

In [127]:
#turn into dataframe

total_cars_df = pd.DataFrame(total_cars_matrix.toarray(), columns=cv.get_feature_names_out())

In [145]:
combodf = pd.concat([oneday.reset_index(drop=True), total_cars_df], axis=1)

In [151]:
combodf

,latitude,longitude,total_cars,cars_list,timestamp,date_only,10,100,101,102,...,90,91,92,93,94,95,96,97,98,99
0,32.091010,34.786330,1,[197],2019-11-14 00:03:03 UTC,2019-11-14,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,32.124610,34.830230,1,[116],2019-11-14 00:03:03 UTC,2019-11-14,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,32.097650,34.800800,1,[103],2019-11-14 00:03:03 UTC,2019-11-14,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,32.078621,34.797969,1,[203],2019-11-14 00:03:03 UTC,2019-11-14,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,32.076318,34.767295,1,[248],2019-11-14 00:03:03 UTC,2019-11-14,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
160353,32.079825,34.774450,2,"[148, 67]",2019-11-14 21:33:02 UTC,2019-11-14,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
160354,32.143248,34.792340,3,"[94, 139, 272]",2019-11-14 21:33:02 UTC,2019-11-14,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
160355,32.064615,34.795787,3,"[259, 72, 153]",2019-11-14 21:33:02 UTC,2019-11-14,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
160356,32.108610,34.797300,1,[55],2019-11-14 21:33:02 UTC,2019-11-14,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
160357,32.074095,34.769072,1,[122],2019-11-14 21:33:02 UTC,2019-11-14,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [166]:
groupedup = oneday.sort_values('timestamp').groupby(['latitude', 'longitude', 'timestamp'])[['total_cars']].mean()

In [174]:
groupedup['rolling'] = groupedup['total_cars'].rolling(2).mean()

In [190]:
grouped = oneday.sort_values('timestamp').groupby(['latitude', 'longitude']).rolling(2, on='timestamp')[['total_cars']].mean()

In [202]:
grouped['cars'] = oneday.sort_values('timestamp').groupby(['latitude', 'longitude', 'timestamp'])[['total_cars']].mean()

In [203]:
grouped[(grouped['total_cars'] != grouped['cars']) & (grouped['total_cars'].notnull())]

                                             total_cars  cars
latitude  longitude timestamp
32.034470 34.74685  2019-11-14 14:39:03 UTC         1.5   1.0
32.035393 34.75873  2019-11-14 04:09:02 UTC         0.5   0.0
                    2019-11-14 12:30:03 UTC         0.5   1.0
                    2019-11-14 12:36:02 UTC         0.5   0.0
32.036900 34.76250  2019-11-14 05:03:02 UTC         0.5   1.0
...                                                 ...   ...
32.143248 34.79234  2019-11-14 11:06:02 UTC         3.5   3.0
                    2019-11-14 13:03:02 UTC         3.5   4.0
                    2019-11-14 16:54:09 UTC         3.5   3.0
                    2019-11-14 18:18:03 UTC         3.5   4.0
                    2019-11-14 19:54:02 UTC         3.5   3.0

[1982 rows x 2 columns]

In [225]:
grouped.loc[(grouped['total_cars'] - grouped['cars']) > 0, 'Demand'] = 1

grouped.loc[(grouped['total_cars'] - grouped['cars']) < 0, 'Supply'] = 1

In [227]:
grouped.Demand.sum()

997.0

In [228]:
grouped.Supply.sum()

985.0

In [220]:
oneday[oneday['latitude']==32.072323].sort_values('timestamp')[250:300]

,latitude,longitude,total_cars,cars_list,timestamp,date_only
7119225,32.072323,34.790555,2,"[18, 54]",2019-11-14 12:30:03 UTC,2019-11-14
7082557,32.072323,34.790555,2,"[18, 54]",2019-11-14 12:33:03 UTC,2019-11-14
7085497,32.072323,34.790555,2,"[18, 54]",2019-11-14 12:36:02 UTC,2019-11-14
7082993,32.072323,34.790555,2,"[18, 54]",2019-11-14 12:39:02 UTC,2019-11-14
7092512,32.072323,34.790555,2,"[18, 54]",2019-11-14 12:42:02 UTC,2019-11-14
7115525,32.072323,34.790555,2,"[18, 54]",2019-11-14 12:45:02 UTC,2019-11-14
7026960,32.072323,34.790555,2,"[18, 54]",2019-11-14 12:48:03 UTC,2019-11-14
7118317,32.072323,34.790555,2,"[18, 54]",2019-11-14 12:51:02 UTC,2019-11-14
7124652,32.072323,34.790555,2,"[18, 54]",2019-11-14 12:54:03 UTC,2019-11-14
7122201,32.072323,34.790555,2,"[18, 54]",2019-11-14 12:57:03 UTC,2019-11-14
7070166,32.072323,34.790555,2,"[18, 54]",2019-11-14 13:00:03 UTC,2019-11-14
7101544,32.072323,34.790555,2,"[18, 54]",2019-11-14 13:03:02 UTC,2019-11-14
7027387,32.072323,34.790555,2,"[18, 54]",2019-11-14 13:06:02 UTC,2019-11-14
7119661,32.072323,34.790555,2,"[18, 54]",2019-11-14 13:09:03 UTC,2019-11-14
7063181,32.072323,34.790555,2,"[18, 54]",2019-11-14 13:12:03 UTC,2019-11-14
7070541,32.072323,34.790555,2,"[18, 54]",2019-11-14 13:15:03 UTC,2019-11-14
7043817,32.072323,34.790555,0,[],2019-11-14 13:18:02 UTC,2019-11-14
7101714,32.072323,34.790555,0,[],2019-11-14 13:21:02 UTC,2019-11-14
7019878,32.072323,34.790555,0,[],2019-11-14 13:24:03 UTC,2019-11-14
7071011,32.072323,34.790555,0,[],2019-11-14 13:27:02 UTC,2019-11-14
7118674,32.072323,34.790555,0,[],2019-11-14 13:30:02 UTC,2019-11-14
7027679,32.072323,34.790555,0,[],2019-11-14 13:33:02 UTC,2019-11-14
7071396,32.072323,34.790555,0,[],2019-11-14 13:36:02 UTC,2019-11-14
7098069,32.072323,34.790555,0,[],2019-11-14 13:39:03 UTC,2019-11-14
7063389,32.072323,34.790555,0,[],2019-11-14 13:42:03 UTC,2019-11-14
7114929,32.072323,34.790555,0,[],2019-11-14 13:45:11 UTC,2019-11-14
7101882,32.072323,34.790555,0,[],2019-11-14 13:48:03 UTC,2019-11-14
7092730,32.072323,34.790555,0,[],2019-11-14 13:51:03 UTC,2019-11-14
7071559,32.072323,34.790555,0,[],2019-11-14 13:54:02 UTC,2019-11-14
7071814,32.072323,34.790555,0,[],2019-11-14 13:57:02 UTC,2019-11-14
7014850,32.072323,34.790555,0,[],2019-11-14 14:00:02 UTC,2019-11-14
7128813,32.072323,34.790555,0,[],2019-11-14 14:03:02 UTC,2019-11-14
7007399,32.072323,34.790555,0,[],2019-11-14 14:06:03 UTC,2019-11-14
7007793,32.072323,34.790555,0,[],2019-11-14 14:09:03 UTC,2019-11-14
7094991,32.072323,34.790555,0,[],2019-11-14 14:12:02 UTC,2019-11-14
7007972,32.072323,34.790555,0,[],2019-11-14 14:15:03 UTC,2019-11-14
7093169,32.072323,34.790555,0,[],2019-11-14 14:18:02 UTC,2019-11-14
7095242,32.072323,34.790555,0,[],2019-11-14 14:21:02 UTC,2019-11-14
7015280,32.072323,34.790555,0,[],2019-11-14 14:24:02 UTC,2019-11-14
7015622,32.072323,34.790555,0,[],2019-11-14 14:27:02 UTC,2019-11-14
7125536,32.072323,34.790555,0,[],2019-11-14 14:30:02 UTC,2019-11-14
7093504,32.072323,34.790555,0,[],2019-11-14 14:33:03 UTC,2019-11-14
7089312,32.072323,34.790555,0,[],2019-11-14 14:36:03 UTC,2019-11-14
7089904,32.072323,34.790555,0,[],2019-11-14 14:39:03 UTC,2019-11-14
7095609,32.072323,34.790555,0,[],2019-11-14 14:42:02 UTC,2019-11-14
7096134,32.072323,34.790555,0,[],2019-11-14 14:45:02 UTC,2019-11-14
7006021,32.072323,34.790555,0,[],2019-11-14 14:48:02 UTC,2019-11-14
7008454,32.072323,34.790555,0,[],2019-11-14 14:51:02 UTC,2019-11-14
7109282,32.072323,34.790555,0,[],2019-11-14 14:54:02 UTC,2019-11-14
7126191,32.072323,34.790555,0,[],2019-11-14 14:57:02 UTC,2019-11-14

In [99]:
# turn into a dataframe
total_cars_matrix[:,4].sum()

0

In [86]:
total_cars_df.sum()

0       0
1       0
2       0
3       0
4       0
       ..
256     7
257    26
258    29
259    29
260    27
Length: 261, dtype: int64

In [35]:
# make cars_list a list

df['cars_list'].str.sl

0           [[138]]
1            [[64]]
2           [[120]]
3           [[110]]
4           [[190]]
             ...
20049193       [[]]
20049194       [[]]
20049195       [[]]
20049196       [[]]
20049197       [[]]
Name: cars_list, Length: 20049198, dtype: object

In [33]:
df[df['cars_list'].apply(lambda x: 71 in x)]

TypeError: 'in <string>' requires string as left operand, not int